body {
    background-image: url("https://img4.goodfon.com/wallpaper/nbig/a/8b/vector-blue-squares-abstract-background-geometric.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0
}

.info1 {
    border: 2px solid black;
    margin: 30px;
}

p {
    padding: 20px
}

.sportInfo1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

