.contain1 {
    text-align: left;
}

.contain2 {
    text-align: left;
    padding-bottom: 20px
}

.forMore {
    text-align: left;
    color: white;
    font-weight:bold;
    padding-top: 50px;
    padding-left: 20px
}

button {
    text-align: left;
    color: black;
    background: white;

}